.App-header {
	margin: 0;
	padding: 20px 0 80px;
	background-color: #31cceb;
}
.App-logo {
	max-width: 180px;
	display: block;
	margin: 0 auto;
}
.App-footer {
	text-align: center;
	margin: 30px 0;
	padding-bottom: 100px;
}
.App {
	max-width: 960px;
	margin: 0 auto;
}
