.Meaning {
	margin: 40px auto;
}
.partOfSpeech {
	font-family: "Figtree", serif;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #383838;
	letter-spacing: 6;
}
.definition {
	margin: 20px 0;
	font-family: "Libre Caslon Text", serif;
	font-size: 1em;
	color: #383838;
}
